html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 12, 36);
}

* {
    color: black;
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
}

.two_main_divs {
    min-height: 50px;
    width: 100%;
}

.header_div {
    border: 2px solid white;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    height: 90px;
    color: white;
}

.main_div_content {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
}

.two_sub_divs {
    border: 2px solid white;
    min-height: 660px;
}

.left_main_div {
    width: 20%;
    height: 100%;
}

.right_main_div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main_sections {
    min-height: 100%;
    flex-shrink: 0;
    border: 1px solid white;
    padding: 20px;
}

@media (max-width: 700px) {
    /* .header_div {
        background-color: green;
    } */

    .left_main_div {
        display: none;
    }

    .right_main_div {
        width: 100%;
        margin-left: 0;
    }

    .main_sections {
        min-height: 400px;
        margin: 50px 30px;
    }
}